<!DOCTYPE html>
<body>
<h1 class="text-center">Inventory Count</h1>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>
<table class="table row-fluid">
 <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stocks.each do |stock| %>
  <% if stock.quantity <= 1 %>
    <tr class="empty">
  <% elsif stock.quantity <= 15 %>
    <tr class="low">
  <% else %>
    <tr class="good">
  <% end %>
    <td class="row-fluid"><%=link_to stock.name, stock %></td>
    <td class="row-fluid"><%= stock.quantity %></td>
<%= form_tag out_multiple_stocks_path, :method => :put do %>
        <td><%= text_field(:stock, :quantity, :placeholder=>'# new', :size => 5) %></td>
        <!--<td><%= submit_tag "Bulk Checkout", :class => "btn btn-danger" %></td>-->
<% end %>    
<td><%= link_to 'Checkout', stock, method: :checkout, :class => "btn btn-primary" %></td>
  </tr>
<% end %>    
</table>
<br />
<br />
</body>
</html>
