<h1>Stock Information</h1>

<%= flash[:error] %>
<%= flash[:notice] %>

<table class="table-bordered">
  <tr>
    <th class="row-fluid ">Name</th>
    <th class="row-fluid">Quantity</th>
  </tr>

<% @stocks.each do |stock| %>
  <% if stock.quantity <= 1 %>
    <tr class="empty">
  <% elsif stock.quantity <= 15 %>
    <tr class="low">
  <% else %>
    <tr class="good">
  <% end %>
    <td class="row-fluid"><%=link_to stock.name, stock %></td>
    <td class="row-fluid"><%= stock.quantity %></td>
  </tr>
<% end %>
</table>

<br />
<br />

<%= link_to 'Add new item', new_stock_path, :class => "btn" %>