<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stock.name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @stock.quantity %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Destroy', @stock, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', report_path %>
