<!DOCTYPE html>
<html>
<head>
  <title>LIIM</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>

  <h2><a href="/" class="text-right stockin">LIIM</a></h2>
  <h5><a href="/" class="text-right stockin">LinkedIn Inventory Management</a></h5>
</head>
<body>

<%= link_to 'Add new item', new_stock_path, :class => "btn btn-mini btn-info" %>
<%= link_to 'Report', report_path, :class => "btn btn-mini btn-info" %>
<%= link_to 'Bulk adding', add_path, :class => "btn btn-mini btn-danger"%>	
<%= link_to 'Bulk checkout', out_path, :class => "btn btn-mini btn-danger"%> 
<%= yield %>

</body>
</html>
